.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-style: normal;
  }
.btn-sign-in{
    background-color: white;
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
}

/* main Styles */
main{
    margin: 0 auto;
}
/* Shared Styles */
.btn-primary{
    background-color: #006A50;
    font-weight: 600;
    font-size: 18px;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 28px 160px;
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
}
nav li{
    list-style: none;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 0 160px;
    margin-bottom: 80px;
}
.banner-content{
    max-width: 622px;
    margin: 117px 60px;
}
.banner-title{
    font-weight: 500;
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
}
.banner-description{
    font-weight: bold;
    font-size: 56px;
}
.banner-pic{
    width: 474px;
    height: 400px;
    margin: 160px 60px;
}
/* Section Styles */
.section-title{
    font-weight: bold;
    font-size: 40px;
    margin: 0 160px;
    margin-bottom: 24px;
}
.section-description{
    font-weight: 400;
    font-size: 16px;
    opacity: 70%;
    margin: 0 160px;
    margin-bottom: 32px;
}
/* technology styles */
.technology-container{
    display: flex;
    margin: 0 160px;
    gap: 24px;
    margin-bottom: 32px;
}

.technology-description{
    font-weight: 400;
    font-size: 16px;
    opacity: 70%;
    margin-bottom: 24px;
}
.technologys-1{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 32px;
}
.technologys-2{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
    padding: 32px;
}
.technologys-3{
    background-color: rgba(247, 235, 207, 1);
    border-radius: 16px;
    padding: 32px;
}
.btn-1{
    background-color: #5490F5;
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.btn-2{
    background-color: #09A15C;
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.btn-3{
    background-color: #FFC239;
    font-weight: 600;
    font-size: 16px;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}

/* quote Section */
.quote{
    margin: 0 160px;
    margin-bottom: 80px;
}
.border{
    border: 1px solid rgba(14, 14, 14, 0.6);
    border-radius: 16px;
    padding: 48px 24px;
}
.quote-img{
    position: absolute;
}
.quote-description{
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
}
.quote-head{
    color: rgba(14, 14, 14, 0.8);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 4px;
}
.quote-sub-title{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    margin-top: 4px;
}
/* Recent News Styles */
.news{
    margin-bottom: 80px;
}

.news-header{
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    margin: 0;
}
.news-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 24px;
    margin: 0 160px;
    height: 500px;
    margin-bottom: 24px;
}
.news-container-2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 24px;
    margin: 0 160px;
    height: 500px;
    margin-bottom: 24px;
}
.news-description{
    width: 744px;
    height: 300px;
    margin: 56px;
    margin-left: 32px;
}
.satellite{
    width: 408px;
    height: 306px;
    border-radius: 24px;
    margin: 48px;
}
.al-jazeera{
    width: 134px;
    height: 40px;
}
.Newz-description{
    font-weight: 400;
    font-size: 16px;
    opacity: 70%;
    padding-right: 48px;
}
.description-2{
    margin-bottom: 32px;
}
/* donation styles */
.donation-2{
    text-align: center;
}
.donation-3{
    text-align: center;
    margin: 0 248px;
}
.donation-container{
    display: flex;
    gap: 24px;
    font-weight: bold;
    font-size: 40px;
    margin: 0 264px;

}
.donation-taka{
    width: 252px;
    height: 128px;
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 16px;
}
.taka2{
    background-color: rgba(198, 228, 214, 1);
}
.input{
    width: 932px;
    height: 64px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    border: none;
}
.input-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.btn-donate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}